@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.footer-fixed {
  width: 100%;
  background: #1e293b; 
  color: #e2e8f0;       
  text-align: center;
  padding: 0.7rem 0;
  font-size: 1rem;
  position: relative;
  left: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
}
