
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Center content for login page, fallback for others */
.app-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

